body {
/*background-color:#272727;*/
background-color: #233242;
overflow-x: auto;
overflow-y: auto;
font-family: 'Roboto', sans-serif;
color: #6a92d4;
}

.logBody {
  background-color: #414753;
}

h1 {
text-align: center;
color:#6A92D4;
padding-top: 2%;
}

h2 {
color:#FFF;
margin: 0 auto;
/*margin-bottom: 5px;*/
text-align: center;
}

h3 {
  color:#6A92D4;
  margin: 0 auto;
  padding-top: 1%;
}

a {
  color: #8db2f0;
}

a:visited, a:active, a:hover {
  color: white;
}

.bottomHR {
  width: 100%;
}
section {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.loginBody {
  background-color: #414753;
}

.loginDiv {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 15px;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #233242;
}

.lookupBody {
  display: flex;
  flex-direction: column;
  background-color: #414753;
}

.lookupDiv {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  background-color: #233242;
  margin: 5px;
}

.lookupDiv a, a:visited {
  color: #6a92d4;
}

.lookupDiv td {
  text-align: left;
}

.adminDiv {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.adminDiv table, td {
  text-align: center;
}

.logTable {
width:100%;
border-collapse:collapse;
table-layout:auto;
vertical-align:top;
border:1px solid #999999;
}

.logTable thead th{
color:#FFFFFF;
background-color:#000000;
border:1px solid #999999;
border-collapse:collapse;
text-align:center;
table-layout:auto;
vertical-align:middle;
}

.logTable tbody td{
border-collapse:collapse;
border:1px solid #999999;
}

.logTable thead th, tbody td{
padding:5px;
border-collapse:collapse;
}

.logTable td {
text-align: center;
}

.logTable tbody tr{
color:#CCCCCC;
background-color:#233242;
}

.header {
  height: 5%;
  display: flex;
  flex-direction: row;
}

.topiFrame {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #414753;
}

.middle {
  overflow: hidden;
  flex: 1 1 auto;
  border: 1px solid #ccc;
}

.footer {
  /*display: flex;
  flex-direction: column;
  max-height: 50%;
  position: fixed;
  bottom: 0;
  width: 100%;*/
  flex: 0 1 60px;
}

.entryDiv {

}

.responseDiv {
  padding: 5px;
  margin-bottom: 5px;
}

.entryForm {
  margin: 10px;
}

input[type="text"], input[type="number"], input[type="email"], datalist, textarea, select {
    border: 1px solid #DADADA;
    border-radius: 2px;
    color: #232323;
    margin-bottom: 5px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    max-width: 100%;
    width: 100%;
    font-size: 13px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
input[type="date"]{
  border: 1px solid #DADADA;
  border-radius: 5px;
  color: #232323;
  margin-bottom: 5px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  max-width: 100%;
  font-size: 13px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

input[type="button" i], [type="submit"] {
  background: #6a92d4;;
  border: none;
  height: 50px;
  padding: 10px 15px 10px 15px;
  color: #FFF;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #272727;
  cursor: pointer;
}
input[type="button" i]:hover, [type="submit"]:hover {
      background: #868D95;
}

/* Tool tip */
.tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tooltip hr {
  width: 90%;
  color: #6a92d4;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #272727;
  color: #fff;
  border: 1px solid #6a92d4;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6a92d4 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
